*.iml
*.jks
*.dex
.gradle
*.class
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
Desktop.ini
.externalNativeBuild
.idea
local.properties